/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* Utilities classes */
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

/* Header */
h1 {
    font-family: 'Nerko One', cursive;
    color: orange;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
}

/* Main */
main {
    padding: 0px 20px;
    background-color: lightgray;
}

img {
    width: calc(100%);
}

.container {
    background-color: #ffffff;
    width: calc(100%);
}

.sottotesto {
    color: gray;
    text-transform: uppercase;
    padding: 10px 0px;
}

.sottotitolo {
    color: blueviolet;
    font-size: 25px;
}

/* Footer */
footer > div {
    text-align: center;
    background-color: blueviolet;
    color: #ffffff;
}

.lista {
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
}

ul {
    list-style: none;
}
