/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: lightgray;
}

/* Utilities classes */
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

/* Header */
header {
    font-family: 'Nerko One', cursive;
    color: orange;
    background-color: #ffffff;
}

/* Footer */
footer {
    background-color: blueviolet;
}
