/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: lightgray;
}

/* Utilities classes */
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

/* Header */
h1 {
    font-family: 'Nerko One', cursive;
    color: orange;
    background-color: #ffffff;
    text-align: center;
}

/* Main */
.main {
    margin: 0px 20px;
}

.container {
    background-color: #ffffff;
    width: calc(100%);
}

.sottotesto {
    color: gray;
    text-transform: uppercase;
}

.sottotitolo {
    color: blueviolet;
}

/* Footer */
footer {
    background-color: blueviolet;
    color: #ffffff;
}
